<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <!-- Database connection settings -->
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost/katakdb</property>
    <property name="hibernate.connection.username">adminkatak</property>
    <property name="hibernate.connection.password">password</property>
    <!-- Internal pool configuration -->
    <property name="hibernate.connection.pool_size">1</property>
    <!-- Database dialect -->
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <!-- Important properties -->
    <property name="hibernate.show_sql">true</property>
    <!-- Mapping files -->
    <mapping resource="resources/hibernate/Doctors.hbm.xml"/>
    <mapping resource="resources/hibernate/Users.hbm.xml"/>
    <mapping resource="resources/hibernate/Patients.hbm.xml"/>
    <mapping resource="resources/hibernate/Appointment.hbm.xml"/>
    <mapping resource="Negocio/Recursos/Hibernate/hibernate.hbm.xml"/>
    <mapping resource="Negocio/Recursos/Hibernate/Cliente.hbm.xml"/>
    <mapping/>
    <mapping resource="Negocio/Recursos/Hibernate/Clientes.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
